<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Game</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="highscore">Highscore list</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h1>Information</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla, mauris a faucibus condimentum, sapien
    nisi mollis lorem, vel dictum nisi augue sed mi. Fusce lobortis libero ac elit malesuada ullamcorper. Nullam et nunc
    vel velit sollicitudin feugiat. Sed facilisis mi dui. Fusce a euismod eros, a hendrerit turpis. Quisque mi sapien,
    sagittis non gravida ut, viverra et tortor. Nam sollicitudin libero leo, non eleifend odio gravida ac. Cras
    tincidunt quam eget quam bibendum, eget semper mauris commodo. Maecenas ultricies, tortor ut vulputate porttitor,
    leo felis ullamcorper mauris, vitae bibendum nisi velit ac arcu. Nam rhoncus dignissim nibh sagittis laoreet. Proin
    convallis aliquet iaculis.

    In imperdiet velit eget blandit semper. Nulla facilisi. Nam sit amet tristique lacus, at elementum erat. Nunc
    fermentum ipsum sem, ac sollicitudin velit rhoncus a. Praesent sed nibh non lectus molestie blandit. Aliquam tempor
    libero eget turpis interdum consequat a non urna. Pellentesque vel facilisis turpis. Sed interdum diam nec mattis
    aliquet.

    Donec at sollicitudin diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse commodo leo in
    vulputate tempor. Pellentesque efficitur mattis lectus. Duis non nunc sit amet felis euismod cursus. Mauris leo dui,
    tristique id massa vehicula, suscipit blandit urna. Vivamus dapibus, nunc sed aliquet tristique, orci sem viverra
    tellus, eu facilisis orci nibh eu ex. Vestibulum felis arcu, varius ac feugiat a, accumsan vel felis. Praesent ut
    elit ex. In hac habitasse platea dictumst. Mauris sollicitudin scelerisque elementum. Nullam efficitur mauris vel
    feugiat euismod. Duis gravida tempus convallis. Aliquam erat volutpat. Suspendisse pellentesque est est, sed
    pulvinar erat interdum eu.
</p>